{% extends 'common/base.html' %}
{% block title %}Application Details | DungeonFinder{% endblock %}

{% block content %}
<div class="application-details-section">

    <div class="ad-block">
        <div class="ad-header">
            <h2>{{ application.ad.title }}</h2>
            <span class="ad-date">{{ application.submitted_at|date:"M d, Y" }}</span>
            <div class="ad-creator-profile" id="application-sender-profile">
                <span class="ad-creator-name">By {{ application.owner.username }}</span>
                <a href="{% url 'account_details' application.owner.pk %}" class="btn btn-primary"
                   id="details-view-btn">Profile</a>
            </div>
        </div>
        <div class="ad-meta">
            <span><strong>Status:</strong> {{ application.get_status_display }}</span>
            <span><strong>Role:</strong> {{ application.get_role_display }}</span>
            <span><strong>Location:</strong> {{ application.ad.location_type }}</span>
        </div>
        <div class="ad-description" id="application-desc">
            {{ application.message|linebreaks }}
        </div>
        <div class="ad-actions" id="application-actions">
            {% if user == application.owner %}
                <a href="{% url 'application_delete' application.pk %}" class="btn btn-primary" id="details-view-btn">Delete</a>
            {% elif user == application.recipient %}
                {% if application.status == 'pending' %}
                    <form method="post" action="{% url 'application_accept' application.pk %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">Accept & Send Invitation</button>
                    </form>
                    <form method="post" action="{% url 'application_reject' application.pk %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Reject</button>
                    </form>
                {% else %}
                    <span>Status: {{ application.get_status_display }}</span>
                {% endif %}
            {% endif %}

            {# SEND INVITATION - Only for ad owner, if no invitation exists #}
            {% if user == application.ad.owner %}
                {% if invitation %}
{#                    <form method="post" action="{% url 'send_invitation' application.ad.id application.id %}">#}
{#                        {% csrf_token %}#}
{#                        <button type="submit" class="btn btn-success">Send Invitation</button>#}
{#                    </form>#}
                    <span>
                        Invitation status: {{ invitation.status|capfirst }}
                    </span>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}