{% extends 'common/base.html' %}
{% load static %}
{% block title %}My Applications | DungeonFinder{% endblock %}

{% block content %}
<div class="my-applications-section">
    <div class="applications-tabs">
        <button class="btn tab-btn{% if view_type == 'received' %} active-tab{% endif %}"
                data-type="received">Received</button>
        <button class="btn tab-btn{% if view_type == 'sent' %} active-tab{% endif %}"
                data-type="sent">Sent</button>
    </div>
    <section class="ad-list" id="application-list">
        {% include 'ad_applications/_application_list.html' %}
    </section>
</div>
{% block extra_scripts %}
    <script src="{% static 'ad_applications/js/my_applications.js' %}"></script>
{% endblock %}
{% endblock %}