{% extends "common/base.html" %}
{% block content %}
<div class="profile-details-container">
    <div class="profile-details-card delete-card-label">
        <h2 class="profile-username delete-profile-card-header">Confirm Transfer</h2>
        <p class="delete-description">
            Are you sure you want to transfer ownership of <strong class="transfer-table-name">{{ table.name }}</strong> to <strong class="transfer-future-owner">{{ member.username }}</strong>?<br>
            <span>This action cannot be undone by you.</span>
        </p>

        <form method="post">
            {% csrf_token %}
            <div class="profile-actions delete-card-actions">
                <button type="submit" class="btn btn-danger">Yes, transfer ownership</button>
                <a href="{% url 'manage_table' table.pk %}" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}