{% extends "common/base.html" %}
{% block content %}
<div class="profile-details-container">
    <div class="profile-details-card delete-card-label">
        <h2 class="profile-username delete-profile-card-header">Leave Table</h2>
        <p class="delete-description delete-card-p">
            Are you sure you want to permanently leave this table?<br>
            This action cannot be undone.
        </p>

        <form method="post">
            {% csrf_token %}
            <div class="profile-actions delete-card-actions">
                <button type="submit" class="btn btn-danger">Leave Table</button>
                <a href="{% url 'table_details' table.pk %}" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}