{% extends 'common/base.html' %}
{% load static %}
{% block title %}Home | DungeonFinder{% endblock %}

{% block content %}
<section class="welcome-section">
    <h1>Find and organize your tabletop game sessions with DungeonFinder!</h1>
    <p class="subtitle">
        Have you ever wanted to try out that awesome new role playing game you just got, but none of your friends are up for it?
        Or maybe you've been looking to DM for the first time, but can't find people for it? Or even just looking for that +1 to fill out a group?
    </p>
    <p class="subtitle">
        Then DungeonFinder is for you! Register now, completely for free, post an ad or browse through the ones available,
        find people to play with, make a table with them and get your game on!
    </p>
    <a href="{% url 'registration' %}" class="btn btn-primary btn-large">Register Now</a>
</section>

<div class="stats-row">
  <div class="stat-block">
    <h3>Browse our ads</h3>
    <span class="stat-number" data-target="{{ ads_created }}">0</span>
    <p class="stat-blurb">Ads Created</p>
  </div>
  <div class="stat-block">
    <h3>Join for free</h3>
    <span class="stat-number" data-target="{{ active_members }}">0</span>
    <p class="stat-blurb">Active Members</p>
  </div>
  <div class="stat-block">
    <h3>Organize your play</h3>
    <span class="stat-number" data-target="{{ messages_sent }}">0</span>
    <p class="stat-blurb">Messages Sent</p>
  </div>
</div>
{% block extra_scripts %}
    <script src="{% static 'common/js/landing.js' %}"></script>
{% endblock %}
{% endblock %}